@import url(font/NeueHassDisplay/stylesheet.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-size: 18px;
}

body {
    background-color: #fff;
}

header {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    float: left;
}

nav ul li a {
    display: block;
    margin: .3rem;
    padding: 1rem 1.3rem;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background: #EFEFEF;
    border-radius: 50px;
}

button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin: .3rem;
    padding: .3rem;
    width: 40px;
    height: 40px;
}

button a {
    align-items: center;
    display: flex;
    justify-content: center;
}

button:hover {
    background: #EFEFEF;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: space-around;
}

input {
    height: 20px;
    outline: none;
    border: none;
    background: transparent;
    border-radius: 5px;
    padding: 0 90px 0 30px;
    font-weight: 300px;
    justify-content: center;
}

form>div {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #EFEFEF;
    background: #EFEFEF;
}

form div input {
    background: transparent;
    background-image: url(/img/Lupa.svg);
    background-size: 20px;
    background-repeat: no-repeat;
}

section {
    display: flex;
    justify-content: space-between;
}

.mini {
    margin-top: 17px;
    width: 15px;
    height: 15px;
}


/*Main Imagenes*/

main{
    height: 90vh;
    padding: 10px;
}

/*.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;

}*/
.galeria{
    columns: 7 200px;
    column-gap: 20px;
    text-align: center;
}


.card{
    width: 230px;
    border-radius: 15px;
    margin-bottom: 20px;
}

img:hover {
    filter: brightness(80%);
}


/*Botones flotantes*/

#flotante {
    display: none;
}

.container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.boton a{
    display: block;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .4);
    font-size: 40px;
    margin: 15px;
}

.boton a:hover {
    background-color: #F1F0F0;
    border: 4px #fff;
}

/*---Responsive*/

@media screen and (max-width:1882px) {

    input {
        width: 1200px;
    }
}

@media screen and (max-width:1325px) {

    input {
        width: 600px;
    }
}

@media screen and (max-width:900px) {

    header{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    nav ul li{
        margin-top: .3em;
    }

    nav ul li a {
        display: block;
        margin: .3em;
        padding: .5em 1.3em;
    }

    input {
        font-size: 16px;
        height: 20px;
        width: 100%;
    }

    .mini{
        margin-top: 17px;
    }

    main{
        padding: 10px;
    }

    .card{
        width: 225px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width:480px) {

    header{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li{
        margin: .3em;
    }

    nav ul li a {
        display: block;
        margin: .3em;
        padding: .5em 1.3em;
    }

    input {
        font-size: 16px;
        height: 20px;
        width: 200px;
    }

    form div input {
        background-image: url(/img/Lupa.svg);
        background-size: 18px;
    }

    .mini{
        margin-top: 17px;
    }

    main{
        padding: 10px;
    }

    .card{
        width: 200px;
        margin-bottom: 20px;
    }
}